extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/createRecipe.css")
block scripts
    script(src="/javascripts/createRecipe.js") 
block content 
    h1 editRecipe
    form#newRecipe(action="/Recipes/editRecipe/" + options.recipe.id, method="post", enctype="multipart/form-data")
        h2 Recipe Title 
        input(type="text", name="title", value=options.recipe.title)
        if noTitle === true 
            p.err-msg A recipe title is required.
        h2 Ingredients
        #ingredients
            for ingredient in options.recipe.ingredients
                #ingredient-container
                    .input-container
                        label(for="quantity") Qty  
                        input.quantity(type="number" name="quantity" value=ingredient.quantity min='0')
                    .input-container
                        label(for="unit") Unit 
                        input.unit(type="text" name="unit" value=ingredient.unit)
                    .input-container 
                        label(for="ingredients") Ingredients
                        input.ingredient(type="text" name="ingredients" value=ingredient.ingredient)
            p#nan-msg Quantity must be a number
        button#add-ingredient(type="button") Add Ingredient
                if noIngredients === true
                    p.err-msg Ingredients are required.
        h2 Cooking Directions
        #directions
            for direction in options.recipe.directions
                #direction-container 
                    input.step(type="text" name="directions" value=direction) 
        button#add-step(type="button") Add Step
            if noDirections === true 
                p.err-msg Instructions are required.
        h2 Tags (Optional)
        div#tag-container
            div.tag-type-container
                h3 Cuisine
                for cuisine in options.tags.cuisineTags
                    div.checklist
                        if options.recipe.tag_ids
                            if options.recipe.tag_ids.includes(cuisine.id) 
                                input(type="checkbox", value=cuisine.id, name="tags", checked="true")
                            else 
                                input(type="checkbox", value=cuisine.id, name="tags") 
                        else 
                            input(type="checkbox", value=cuisine.id, name="tags")
                        label=cuisine.name 
            div.tag-type-container 
                h3 Time
                for time in options.tags.timeTags
                    div.checklist
                        if options.recipe.tag_ids
                            if options.recipe.tag_ids.includes(time.id) 
                                input(type="checkbox", value=time.id, name="tags", checked="true")
                            else 
                                input(type="checkbox", value=time.id, name="tags") 
                        else 
                            input(type="checkbox", value=time.id, name="tags")
                        label=time.name 
            div.tag-type-container
                h3 Difficulty
                for difficulty in options.tags.difficultyTags
                    div.checklist
                        if options.recipe.tag_ids
                            if options.recipe.tag_ids.includes(difficulty.id) 
                                input(type="checkbox", value=difficulty.id, name="tags", checked="true")
                            else 
                                input(type="checkbox", value=difficulty.id, name="tags") 
                        else 
                            input(type="checkbox", value=difficulty.id, name="tags")
                        label=difficulty.name 
            div.tag-type-container 
                h3 Category
                for category in options.tags.categoryTags
                    div.checklist
                        if options.recipe.tag_ids
                            if options.recipe.tag_ids.includes(category.id) 
                                input(type="checkbox", value=category.id, name="tags", checked="true")
                            else 
                                input(type="checkbox", value=category.id, name="tags") 
                        else 
                            input(type="checkbox", value=category.id, name="tags")
                        label=category.name            
                

        h2 Update picture 
        <input type = "file" name = "image" accept = "image/*"/>
        button(type="submit") Update Recipe
       