extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/profile.css")
block scripts
    script(src="/javascripts/profile.js") 
block content
    #background 
    - var days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    - var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    div#welcome
        h3=username
        img(src=profileImg, alt="profile picture")
        a(href="/profile/editAccount") 
            button(type="button") Edit Account

        button#delete-account-btn(type="button") Delete Account 
    #delete-confirmation-container
        #delete-container
            h3 Are you sure you want to delete your account?
            img(src="images/sure-about-that.PNG", alt="You sure about that?")
        #delete-container
            a(href="/profile/deleteAccount") 
                button#perm-delete-btn(type="button") Yes, permanently delete my account.
            button#nvm-btn(type="button") No, don't delete my account.
    div.card
        - var weekHeading = `${months[userWeek[0].month - 1]} ${userWeek[0].day}, ${userWeek[0].year} - ${months[userWeek[6].month - 1]} ${userWeek[6].day}, ${userWeek[6].year}`
        h2=weekHeading
        div#week-container
            each day, i in days
                - var isDayActive = (dayOfWeek === day)
                div.day(class=isDayActive ? 'active' : '')
                    - var shortDate = `${userWeek[i].month}/${userWeek[i].day}/${(userWeek[i].year - 2000)}`
                    h3=days[i]
                    h4=shortDate
                    for recipe in weekOfRecipes[i]
                        form.dailyRecipe(action="profile/removeRecipe/" + recipe.id + "/" + userWeek[i].day_id, method="post")
                            a(href="/recipes/individualRecipe/" + recipe.id)=recipe.title
                            img(src=recipe.image)
                            button(type="submit", value=recipe.id) Remove
                    a(href='/recipes') add a recipe
    div#card-container 
        div.profile-card(id="scrollbar1")
            a(href="/recipes/user/"+ user_id) 
                h2 myRecipes
            a(href="/recipes/createRecipe")
                button.create-recipe Create recipe 
            if userRecipes.length >= 1
                for recipe in userRecipes        
                    form(name=`recipe${recipe.id}` action="/recipes/editRecipe/" + recipe.id, method="get").profile-recipe
                        a(href= "recipes/individualRecipe/" + recipe.id) 
                            h3=recipe.title
                        img(src=recipe.image, alt=recipe.title)
                    a(href="/recipes/editRecipe/" + recipe.id) 
                        button.edit-recipe-btn(type="button") Edit              
            else
                h2 No recipes created
        div.profile-card(id="scrollbar1")
            a(href="/lists") 
                h2 myLists
            a(href="/lists/newList")
                button Create list 
            for list in lists 
                a.list-title(href="/lists/list/" + list.id)=list.title

        div.profile-card(id="scrollbar1")
            h2#favorites-title myFavorites
            a(href="/recipes")
                button Browse Recipes
            if favorites.length >= 1
                for favorite in favorites        
                    .profile-recipe
                        a(href="/recipes/individualRecipe/" + favorite.id) 
                            h3=favorite.title
                        img(src=favorite.image, alt=favorite.title)
                    button.remove-favorite(type="button" id=`favorite-${favorite.id}`) Remove              
            else
                h2 No favorites added.          

