extends layout
block styles
    link(rel="stylesheet", href="/stylesheets/calendar.css")
block scripts
    script(src="/javascripts/calendar.js")
block content
    - var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'Decemeber'];
    - var days = Array.from({ length: 31 }, (_, i) => (i + 1).toString());
    - var daysOfWeek = ['Su', 'M', 'Tu', 'W', 'Th', 'F', 'Sa']
    #month-nav
        a(href="/calendar/lastMonth") Last Month 
        form#pick-month-form(action="/calendar/selectMonth" method="post") 
            div.select-container-nav
                    select(type="dropdown" name="month" placeholder="Month")
                        each month, i in months   
                            option(value=i)=month
                    select(type="dropdown" name="year")
                        each year in options.yearsArray
                            option(value=year)=year
            button Find Month
        a(href="/calendar/nextMonth") Next Month 
    h2 #{options.calendar.monthName} #{options.calendar.year}
    div#calendar-container
        .days-of-week
            for day, i in daysOfWeek
                h3=day
        for week, i in options.calendar.weeksArray 
            div.week
                for object, j in options.calendar.weeksArray[i]
                    if object.day === 'x'
                        div(class="day blank-day")
                    else 
                        div.day(name="day" value="object.day")
                            h4=object.day
                            if object.recipes.length === 0
                                .recipe-container
                                    p No recipes selected 
                                    a(href="/recipes") Add Recipes 
                            if object.recipes.length === 1
                                for item in object.recipes
                                    .recipe-container
                                        a(href='recipes/individualRecipes/' + item.id)
                                            p=item.title 
                                            img(src=item.image, alt=item.title)
                                        button.move-recipe-btn(type="button") Move Recipe
                                        form.move-recipe-form(action="/calendar/moveRecipe/" + item.id + "/" + object.day_id method="post")
                                            div.select-container
                                                div.date-item-container
                                                    label(for='month') Month
                                                    select.date(type="dropdown" name="month" placeholder="Month")
                                                        each month, i in months   
                                                            option(value=i)=month
                                                div.date-item-container
                                                    label(for="day") Day
                                                    select.date(type="dropdown" name="day")
                                                        each day in days 
                                                            option(value=day)=day
                                                div.date-item-container
                                                    label(for="day") Year
                                                    select.date(type="dropdown" name="year")
                                                        each year in options.yearsArray
                                                            option(value=year)=year
                                            button(type="submit") Update Calendar
                                        form(action="profile/removeRecipe/" + item.id + "/" + object.day_id method='post')
                                            button(type='submit') Remove
                            if object.recipes.length > 1
                                .recipe-container
                                    - var multiRecipeStatement = `${object.recipes.length} Recipes`
                                    p.multi-recipe=multiRecipeStatement
                                    button(class="expand-btn" data-recipe-list="recipe-list-" + object.day)  
                                        img(src="/images/expand-btn-img.PNG", alt="expand button")
                                    div(id="recipe-list-" + object.day class="recipe-list")
                                        for item in object.recipes
                                            a(href='recipes/individualRecipe/' + item.id)
                                                p=item.title 
                                                img(src=item.image, alt=item.title)
                                            button.move-recipe-btn(type="button") Move Recipe
                                            form.move-recipe-form(action="/calendar/moveRecipe/" + item.id + "/" + object.day_id method="post")
                                                div.select-container
                                                    div.date-item-container
                                                        label(for='month') Month
                                                        select.date(type="dropdown" name="month" placeholder="Month")
                                                            each month, i in months   
                                                                option(value=i)=month
                                                    div.date-item-container
                                                        label(for="day") Day
                                                        select.date(type="dropdown" name="day")
                                                            each day in days 
                                                                option(value=day)=day
                                                    div.date-item-container
                                                        label(for="day") Year
                                                        select.date(type="dropdown" name="year")
                                                            each year in options.yearsArray
                                                                option(value=year)=year
                                                button(type="submit") Update Calendar
                                            form(action="profile/removeRecipe/" + item.id + "/" + object.day_id method='post')
                                                    button(type='submit') Remove
                                    


                            

