extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/createMeal.css")
block scripts
    script(src="/javascripts/frontEnd.js") 
block content 
    - var titleHelper = 'Example: Grilled Cheese Sandwiches'
    - var ingredientsHelper = 'Example:\n2 slices of bread\n1 slice of cheese\n1 tbsp butter'
    - var instructionsHelper = 'Example:\nHeat non-stick pan over medium low heat.\nSpread half of the butter on one piece of bread.\nOnce pan is hot put bread on the pan butter side down.\nPut cheese on top of bread in the skillet.\nButter the other piece of bread and put on top of cheese, unbuttered side down.\nWhen the bottom of the sandwich is golden brown, flip and cook until the other side is golden brown\nEnjoy!'
    form#newMeal(action="/meals/createMeal", method="post", enctype="multipart/form-data")
        h2 Meal Title 
        input(type="text", name="title" placeholder='Grilled Cheese Sandwich')
        if noTitle === true 
            p.err-msg A meal title is required.
        if isDuplicate === true
            p.err-msg The meal title entered already exists, please choose another name.
        h2 Ingredients
        textarea#ingredients(name="ingredients", cols="30", rows="10", placeholder=ingredientsHelper)
        if noIngredients === true
            p.err-msg Ingredients are required.
        h2 Cooking Instructions 
        textarea#cookingInstruction(name="directions", cols="30", rows="10", placeholder=instructionsHelper)
        if noDirections === true 
            p.err-msg Instructions are required.
        h2 Tags (Optional)
        div#tag-container
            div.tag-type-container
                h3 Cuisine
                for cuisine in cuisineTags
                    div.checklist
                        input(type="checkbox", value=cuisine.id, name="tags") 
                        label=cuisine.name
            div.tag-type-container 
                h3 Time
                for time in timeTags
                    div.checklist
                        input(type="checkbox", value=time.id, name="tags") 
                        label=time.name
            div.tag-type-container
                h3 Difficulty
                for difficulty in difficultyTags
                    div.checklist
                        input(type="checkbox", value=difficulty.id, name="tags") 
                        label=difficulty.name
            div.tag-type-container 
                h3 Category
                for category in categoryTags
                    div.checklist
                        input(type="checkbox", value=category.id, name="tags") 
                        label=category.name            
                

        h2 Add a picture 
        <input class="custom-file-input" type = "file" name = "image" accept = "image/*" />
        button(type="submit") Add Meal
       