extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/createRecipe.css")
block scripts
    script(src="/javascripts/createRecipe.js") 
block content 
    - var titleHelper = 'Example: Grilled Cheese Sandwiches'
    - var instructionsHelper = 'Example:\nHeat non-stick pan over medium low heat.\nSpread half of the butter on one piece of bread.\nOnce pan is hot put bread on the pan butter side down.\nPut cheese on top of bread in the skillet.\nButter the other piece of bread and put on top of cheese, unbuttered side down.\nWhen the bottom of the sandwich is golden brown, flip and cook until the other side is golden brown\nEnjoy!'
    form#newRecipe(action="/recipes/createRecipe", method="post", enctype="multipart/form-data")
        h2 Recipe Title 
        input#title(type="text", name="title" placeholder='Hamburger')
        if noTitle === true 
            p.err-msg A meal title is required.
        if isDuplicate === true
            p.err-msg The meal title entered already exists, please choose another name.
        h2 Servings 
        input#servings(type="text", name="servings", placeholder="8")
        h2 Ingredients
        #ingredients
            #ingredient-container(class="count-ingredient")
                .input-container
                    label(for="quantity") Qty  
                    input.quantity(type="number" name="quantity" placeholder="1" min='0')
                .input-container
                    label(for="unit") Unit 
                    input.unit(type="text" name="unit" placeholder="lb")
                .input-container 
                    label(for="ingredients") Ingredients
                    input.ingredient(type="text" name="ingredients" placeholder= "Ground beef")
                button.remove-ingredient(type="button") -
        p#nan-msg Quantity must be a number
        button#add-ingredient(type="button") Add Ingredient
            if noIngredients === true
                p.err-msg Ingredients are required.
        h2 Cooking Directions
        #directions
            #direction-container 
                input.step(type="text" name="directions" placeholder="Make hamburger patties") 
        button#add-step(type="button") Add Step
            if noDirections === true 
                p.err-msg Instructions are required.
        h2 Tags (Optional)
        div#tag-container
            div.tag-type-container
                h3 Cuisine
                for cuisine in cuisineTags
                    div.checklist
                        input(type="checkbox", value=cuisine.id, name="tags") 
                        label=cuisine.name
            div.tag-type-container 
                h3 Time
                for time in timeTags
                    div.checklist
                        input(type="checkbox", value=time.id, name="tags") 
                        label=time.name
            div.tag-type-container
                h3 Difficulty
                for difficulty in difficultyTags
                    div.checklist
                        input(type="checkbox", value=difficulty.id, name="tags") 
                        label=difficulty.name
            div.tag-type-container 
                h3 Category
                for category in categoryTags
                    div.checklist
                        input(type="checkbox", value=category.id, name="tags") 
                        label=category.name            
                

        h2 Add a picture 
        <input class="custom-file-input" type = "file" name = "image" accept = "image/*" />
        button#add-recipe-btn(type="submit") Add Recipe
       