extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/index.css")
block scripts
    script(src="/javascripts/index.js")  
block content
  body
  section
    #random-recipe-container
      #random-btn-container
        h2 Need an Idea?
        button#random-recipe-btn(type="button") Get a Random recipe
      #placeholder
        img(src="/images/question-mark.png", alt="Question Mark") 
      each recipe, i in options.recipes
        div(class="recipe-card-" + i +" recipe-card")
          a#random-recipe-link(href="/recipes/individualrecipe/" + recipe.id)=recipe.title
          img.recipe-img( src=recipe.image, alt=recipe.title)
    .fresh-recipes-container 
      h2 Fresh Recipes 
      each newRecipe in options.newRecipes
        a(href="/recipes/individualrecipe/" + newRecipe.id).fresh-recipe
          .fresh-recipe-info
            p(class="fresh-bold")=newRecipe.title
            p Created by 
              span(class="fresh-bold")=newRecipe.userInfo.username
            p=newRecipe.userInfo.date
            img.credit-img(src=newRecipe.userInfo.image, alt="User Picture")
          img.fresh-recipe-img(src=newRecipe.image, alt=newRecipe.title)
  //- .newsfeed-container 
  //-   h2 Newsfeed
  //-   for article in options.articles
  //-     div.news-article
  //-       a(href=article.url)=article.title
  //-       img(src=article.img)
      