extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/individualMeal.css")
block content
    - var credit = `Added by ${firstName} ${lastName} on ${date}`
    section
        #title-container
            h1=title
            img(src=mealImage alt='picture of meal or default image')#meal-img
            #creator-info
                p=credit
                a(href="/meals/user/" + username) 
                    img(src=userImage alt='user profile picture')#credit-img
        #steps-container
            #ingredient-list
                h3 Ingredients
                if typeof ingredients === 'string'
                    .ingredient 
                        input(type="checkbox")
                        label=ingredients
                else
                    for ingredient in ingredients
                        .ingredient
                            input(type="checkbox")
                            label=ingredient
            #direction-list
                h3 Directions
                ol
                    if typeof directions === 'string'
                        li=directions 
                    else
                        for direction in directions
                            li=direction
            #tag-container
                for tag in tags 
                    a(href="/meals/filter/" + tag.id)=tag.name
