extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/individualRecipe.css")
block scripts
    script(src="/javascripts/individualRecipe.js") 
block content
    - var credit = `Added by ${username} on ${date}`
    section
        #title-container
            h1=title
            img(src=recipeImage alt='picture of meal or default image')#recipe-img
            #creator-info
                p=credit
                a(href="/recipes/user/" + id) 
                    img(src=userImage alt='user profile picture')#credit-img
        #steps-container
            h3 Servings: 
                span=servings
            #ingredient-list
                h3 Ingredients
                button(type="button")#select-all-btn Select All
                for ingredient in ingredients
                    .ingredient
                        - var ingredientContents = `${ingredient.quantity} ${ingredient.unit} ${ingredient.ingredient}`
                        label=ingredientContents
                            input(type="checkbox" value=ingredient)
                if lists    
                    button#show-list-btn(type="button") Add to a List?
                    #select-list-container
                        select(name="lists" id="lists")
                            option(value="") Choose a List 
                            for list in lists
                                option(value=list.id)=list.title
                        button(type="button")#add-to-list-btn Add to List 
            #direction-list
                h3 Directions
                ol
                    if typeof directions === 'string'
                        li=directions 
                    else
                        for direction in directions
                            li=direction
            #tag-container
                for tag in tags 
                    a(href="/recipes/filter/" + tag.id)=tag.name
