extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/individualRecipe.css")
block content
    - var credit = `Added by ${firstName} ${lastName} on ${date}`
    section
        #title-container
            h1=title
            img(src=recipeImage alt='picture of meal or default image')#recipe-img
            #creator-info
                p=credit
                a(href="/recipes/user/" + username) 
                    img(src=userImage alt='user profile picture')#credit-img
        #steps-container
            #ingredient-list
                h3 Ingredients
                for ingredient in ingredients
                    .ingredient
                        - var ingredientContents = `${ingredient.quantity} ${ingredient.unit} ${ingredient.ingredient}`
                        input(type="checkbox")
                        label=ingredientContents
            #direction-list
                h3 Directions
                ol
                    if typeof directions === 'string'
                        li=directions 
                    else
                        for direction in directions
                            li=direction
            #tag-container
                for tag in tags 
                    a(href="/recipes/filter/" + tag.id)=tag.name
