extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/meals.css")
block scripts
    script(src="/javascripts/meals.js") 
block content 
    - var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'Decemeber'];
    - var days = Array.from({ length: 31 }, (_, i) => (i + 1).toString());

    a#create-meal(href="/meals/createMeal") createMeal
    div#adjustment-container
        div#search-filter-container
            button#filter-btn Filters
            button#apply-filters-btn(type='submit' form="filter-container") Apply Filters
            form(action="/meals/search" method="post")#search-container
                input#search-bar(type="text" name="search" placeholder="Search by title, ingredients or directions" )
                button(type="submit")#search-btn Search
        if options.activeFilters
            ul#active-filters-list Active Filters:  
                for filter in options.activeFilters 
                    li=filter      
        form(action="/meals/filter", method="post")#filter-container
            div#filters
                ul.filter-category Cuisine
                    each tag, i in options.allTags.cuisineTags
                        div.filter-option
                            if options.activeFilters
                                if options.activeFilters.includes(tag.name) 
                                    input(type="checkbox", value=tag.id, name="tags", checked="true")
                                else 
                                    input(type="checkbox", value=tag.id, name="tags") 
                            else 
                                input(type="checkbox", value=tag.id, name="tags") 
                            label.filter-label=tag.name
                ul.filter-category Type of Food 
                    each tag, i in options.allTags.categoryTags
                        div.filter-option
                            if options.activeFilters
                                if options.activeFilters.includes(tag.name) 
                                    input(type="checkbox", value=tag.id, name="tags", checked="true")
                                else 
                                    input(type="checkbox", value=tag.id, name="tags") 
                            else 
                                input(type="checkbox", value=tag.id, name="tags") 
                            label.filter-label=tag.name
                ul.filter-category Time 
                    each tag, i in options.allTags.timeTags
                        div.filter-option
                            if options.activeFilters
                                if options.activeFilters.includes(tag.name) 
                                    input(type="checkbox", value=tag.id, name="tags", checked="true")
                                else 
                                    input(type="checkbox", value=tag.id, name="tags") 
                            else 
                                input(type="checkbox", value=tag.id, name="tags") 
                            label.filter-label=tag.name
                ul.filter-category Difficulty
                    each tag, i in options.allTags.difficultyTags
                        div.filter-option
                            if options.activeFilters
                                if options.activeFilters.includes(tag.name) 
                                    input(type="checkbox", value=tag.id, name="tags", checked="true")
                                else 
                                    input(type="checkbox", value=tag.id, name="tags") 
                            else 
                                input(type="checkbox", value=tag.id, name="tags") 
                            label.filter-label=tag.name   
    if options.search 
        - var searchTerm = `"${options.search}"`
        p(style="text-align: center;") Showing search results for 
            span#search-term=searchTerm
    div.meal-container
        if options.allMeals.length === 0
            h3 Whoops! No meals in those categories....Try again.
        each meal, i in options.allMeals
            div.meal
                img.meal-img(src=options.mealImages[i], alt=meal.title)
                a(href='meals/individualMeal/' + meal.id)=meal.title
                button.addMeal-btn(type="button") Add Meal
                form.addMeal(action="calendar/addMeal/" + meal.id method="post")
                    div.select-container
                        div.date-item-container
                            label(for='month') Month
                            select.date(type="dropdown" name="month" placeholder="Month")
                                each month, i in months   
                                    option(value=i)=month
                        div.date-item-container
                            label(for="day") Day
                            select.date(type="dropdown" name="day")
                                each day in days 
                                    option(value=day)=day
                        div.date-item-container
                            label(for="day") Day
                            select.date(type="dropdown" name="year")
                                each year in options.yearsArray
                                    option(value=year)=year
                    button(type="submit") Add to calendar
                     

