extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/recipes.css")
block scripts
    script(src="/javascripts/recipes.js") 
block content
    #user-container
        h2=options.user.username
        img(src=options.user.image, alt="user profile picture")
    - var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'Decemeber'];
    - var days = Array.from({ length: 31 }, (_, i) => (i + 1).toString());
    div.recipe-container
        if options.recipes.length === 0
            h3 This user has not created any recipes.
        each recipe, i in options.recipes
            div.recipe
                img.recipe-img(src=recipe.image, alt=recipe.title)
                a(href='recipes/individualrecipe/' + recipe.id)=recipe.title
                button.addrecipe-btn(type="button") Add recipe
                form.addrecipe(action="calendar/addrecipe/" + recipe.id method="post")
                    div.select-container
                        div.date-item-container
                            label(for='month') Month
                            select.date(type="dropdown" name="month" placeholder="Month")
                                each month, i in months   
                                    option(value=i)=month
                        div.date-item-container
                            label(for="day") Day
                            select.date(type="dropdown" name="day")
                                each day in days 
                                    option(value=day)=day
                        div.date-item-container
                            label(for="day") Day
                            select.date(type="dropdown" name="year")
                                each year in options.yearsArray
                                    option(value=year)=year
                    button(type="submit") Add to calendar
                     

