extends layout
block styles 
    link(rel="stylesheet", href="/stylesheets/recipes.css")
block scripts
    script(src="/javascripts/recipes.js") 
block content 
    - var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'Decemeber'];
    - var days = Array.from({ length: 31 }, (_, i) => (i + 1).toString());

    a#create-recipe(href="/recipes/createrecipe") createRecipe
    div#adjustment-container
        div#search-filter-container
            form(action="/recipes/search" method="post")#search-container
                input#search-bar(type="text" name="search" placeholder="Search by title, ingredients or directions" )
                button(type="submit")#search-btn Search
            #filter-btn-container
                button#filter-btn Filters
                button#apply-filters-btn(type='submit' form="filter-container") Apply Filters
        if options.activeFilters
            ul#active-filters-list Active Filters:  
                for filter in options.activeFilters 
                    li=filter      
        form(action="/recipes/filter", method="post")#filter-container
            div#filters
                ul.filter-category Cuisine
                    each tag, i in options.allTags.cuisineTags
                        label.filter-option=tag.name
                            if options.activeFilters
                                if options.activeFilters.includes(tag.name) 
                                    input(type="checkbox", value=tag.id, name="tags", checked="true")
                                else 
                                    input(type="checkbox", value=tag.id, name="tags") 
                            else 
                                input(type="checkbox", value=tag.id, name="tags") 
                ul.filter-category Category
                    each tag, i in options.allTags.categoryTags
                        label.filter-option=tag.name
                            if options.activeFilters
                                if options.activeFilters.includes(tag.name) 
                                    input(type="checkbox", value=tag.id, name="tags", checked="true")
                                else 
                                    input(type="checkbox", value=tag.id, name="tags") 
                            else 
                                input(type="checkbox", value=tag.id, name="tags") 
                ul.filter-category Time 
                    each tag, i in options.allTags.timeTags
                        label.filter-option=tag.name
                            if options.activeFilters
                                if options.activeFilters.includes(tag.name) 
                                    input(type="checkbox", value=tag.id, name="tags", checked="true")
                                else 
                                    input(type="checkbox", value=tag.id, name="tags") 
                            else 
                                input(type="checkbox", value=tag.id, name="tags") 
                ul.filter-category Difficulty
                    each tag, i in options.allTags.difficultyTags
                        label.filter-option=tag.name
                            if options.activeFilters
                                if options.activeFilters.includes(tag.name) 
                                    input(type="checkbox", value=tag.id, name="tags", checked="true")
                                else 
                                    input(type="checkbox", value=tag.id, name="tags") 
                            else 
                                input(type="checkbox", value=tag.id, name="tags") 
    if options.search 
        - var searchTerm = `"${options.search}"`
        p(style="text-align: center;") Showing search results for 
            span#search-term=searchTerm
    div.recipe-container
        if options.allRecipes.length === 0
            h3 Unable to find any matching recipes, please try again.
        each recipe, i in options.allRecipes
            div.recipe
                a.recipe-link(href='recipes/individualrecipe/' + recipe.id)
                    img.recipe-img(src=options.recipeImages[i], alt=recipe.title)
                    p=recipe.title
                if authenticated    
                    .clickables-container(id=recipe.id)
                        img.white-calendar(src="/images/white-calendar.png" id=`white-${i}` class="calendar-img")
                        img.addRecipe-btn(src="/images/gold-calendar.png" id=`gold-${i}` class="calendar-img")
                        if recipe.favorite
                            img(src="/images/full-star.png", alt="full-star" class=`remove-favorite` id=`${i}-recipe-${recipe.id}`)
                        else
                            img(src="/images/empty-star.png", alt="empty star" class=`add-favorite` id=`${i}-recipe-${recipe.id}`)
                form.addrecipe(action="calendar/addRecipe/" + recipe.id method="post" id=`form-${i}`)
                    div.select-container
                        div.date-item-container
                            label(for='month') Month
                            select.date(type="dropdown" name="month" placeholder="Month")
                                each month, i in months   
                                    option(value=i)=month
                        div.date-item-container
                            label(for="day") Day
                            select.date(type="dropdown" name="day")
                                each day in days 
                                    option(value=day)=day
                        div.date-item-container
                            label(for="day") Day
                            select.date(type="dropdown" name="year")
                                each year in options.yearsArray
                                    option(value=year)=year
                    button(type="submit") Add to calendar
                     

